body{
    background-color: rgba(245,245,245,1);    
}
#main{
    width: 60%;
    margin-left: 15%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.pas_lien{
    color: black;
    text-decoration: none;
}
#fir{
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 50px;
}
.ann{
    -webkit-transition:background-color 1s;
    background-color: white;
    width: calc(100% - 2px);
    height: 200px;
    margin-top: -1px;
    position: relative;
    border: 1px solid gray;
    overflow-wrap:break-word;
}
.ann:hover{
    -webkit-transition:background-color 1s;
    background-color: lightgray;
}
.ann .date{
    float: right;
    margin-right: 20px;
}
.ann .tout .titre h2{
    color: darkslateblue;
}
.ann .tout .prix{
    position: absolute;
    right: 50px;
    top: 50px;
    color: orangered;
}
.ann .tout .description{
    margin-right: 7px;
}
.ann .img{
    float: left;
    height: 150px;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 20px;
}
.ann .cross{
    display: none;
}
.check{
    display: none;
}
#navig{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
}
#navig #cur{
    border: 2px solid gray;
    border-radius: 10px;
}
#navig .abold{
    font-weight: bold;
}
#navig a{
    color: dimgray;
    font-size: 25px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (max-width:1050px){
    .ann img{
        height: 125px;
        margin-top: 40px;
        margin-right: 25px;
    }
}
@media screen and (max-width:800px){
    #navig{
        padding: 0px;
    }
    #navig a{
        margin-left: 8px;
        margin-right: 8px;
    }
}
@media screen and (max-width:750px){
    #main{
        width: 75%;
        margin-left: 10%;
    }
    .ann .description{
        display: none;
    }
    .ann .date{
        float: none;
        margin-top: 25px;
    }
    .ann .tout .prix{
        font-size: 20px;
        top: auto;
        bottom: 10px;
    }
}