.product {
  padding-top: 50px;

  .main {
    height: 40rem;

    img {
      max-height: 40rem;
      width: 100%;
    }

    .infos {

      margin-top: 40px;
      padding-left: 40px;

      .title {
        font-size: 50px;
      }

      .price {
        font-weight: bold;
        font-size: 50px;
        color: orangered;
      }

      .descriptionProduct {
        font-size: 23px;
        margin-bottom: 60px;
      }

      .sizes {
        margin-bottom: 50px;
      }

      .buyNow {
        font-weight: bold;
        padding: 15px;
        font-size: 40px;
      }
    }
  }
}
