body{
    background-color: rgba(245,245,245,1);    
}
.double{
    font-size: 25px;
    font-weight: bold;
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 30px;
    overflow: hidden;
    background-color: #ECECEC;
}
#conf{
    width: 400px;
    margin-right: 200px;
    margin-top: 129px;
    float: right;
}
.double span{
    float: right;
    margin-right: 25px;
    color: orangered;
}
.double>*:not(.payer){
    margin-left: 50px;
}
.double .payer{
    width: 100%;
    height: 80px;
    background-color: lightgray;
    color: gray;
    text-align: center;
    padding-top: 1px;
    font-weight: bold;
    font-size: 17px;
    z-index: 1515;
}
.double .payer:hover{
    cursor: not-allowed;
}
#conf2{
    width: 60%;
    margin-left: 15%;
    margin-bottom: 50px;
    display: none;
}
#main{
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 35%;
}
#livre, #addr, #d_carte{
    font-weight: bold;
    color: grey;
    font-size: 25px;
    margin-bottom: 15px;
}
#addr{
    margin-top: 30px;
}
.pas_lien{
    color: black;
    text-decoration: none;
}
#fir{
    width: 60%;
    border-top: 1px solid gray;
}
.ann{
    -webkit-transition:background-color 1s;
    width: calc(100% - 2px);
    background-color: white;
    height: 200px;
    margin-top: -1px;
    position: relative;
    border: 1px solid gray;
    word-wrap: break-word;
    -webkit-word-wrap: break-word;
}
.ann:hover{
    -webkit-transition:background-color 1s;
    background-color: lightgray;
}
.ann .date{
    display: none;
}
.ann .tout .titre h2{
    color: darkslateblue;
    font-size: 25px;
}
.ann .tout .categorie{
    font-size: 15px;
}
.ann .tout .prix{
    font-size: 20px;
    color: orangered;
}
.ann .tout .description{
    display: none;
}
.ann .img{
    float: left;
    height: 150px;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 20px;
}
.ann .cross{
    display: none;
}
.check{
    display: none;
}
#addr label,#d_carte label{
    margin-left: 75px;
    color: black;
    font-weight: normal;
    font-size: 20px;
}
#addr input, #d_carte input{
    vertical-align: middle;
    border-radius: 6px;
    border: 1px inset gray;
    margin-left: 20px;
    padding: 5px;
    padding-left: 15px;
}
@media screen and (max-width:1425px){
    #conf{
        margin-right: 50px;
    }
    #main{
        width: 42.5%;
    }
}
@media screen and (max-width:1175px){
    #conf{
        display: none;
    }
    #conf2{
        display: block;
    }
    #main{
        width: 60%;
    }
}
@media screen and (max-width:1000px){
    #main,#conf2{
        width: 75%;
    }
}
@media screen and (max-width:800px){
    #main,#conf2{
        width: 85%;
        margin-left: 2%;
    }
}