*{
    outline: none;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    position: relative;
    padding-bottom: 200px;
}
#nav{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    height: 70px;
}
#nav #logo{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: 50px;
    height: 40px;
    vertical-align: middle;
    margin-right: 30px;
}
#nav #img_burger{
    display: none;
}
#nav a{
    -webkit-transition:background-color 0.5s;
    background-color: white;
    padding-top: 15px;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:3px; 
    margin-right: 3px;
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
}
#nav a:hover{
    background-color: lightgray;
}
#nav #search{
    display: inline;
    margin-left: 25px;
}
#nav #search input{
    padding-left: 1em;
    height: 2.5em;
    border-radius: 5px;
    width: 30em;
}
#nav #search button{
    background-color: transparent;
    border: none;
}
#nav #search img{
    margin-left: 5px;
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
#nav #buyke{
    position: absolute;
    height: 60px;
    vertical-align: middle;
    right: 30px;
    top: 15px
}
#burger{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
#burger_content{
    background-color: rgba(0,0,0,0.9);
    height: calc(100% - 140px);
    width: 35%;
    margin-top: 90px;
    padding-top: 50px;
    min-width: 320px;
}
#burger #burger_content a{
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: wheat;
    margin-left: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid wheat;
    max-height: 20px;
    overflow: hidden;
    white-space: nowrap;
}
@media screen and (max-width:1450px){
    #search input{
        width: 15em;
    }
}
@media screen and (max-width:1250px){
    #nav #search input{
        position: absolute;
        right: 75px;
        top: 25px;
        width: 20em;
        display: none;
    }
    #search button{
        margin-right: 15em;
    }
}
@media screen and (max-width:1000px){
    #nav{
        z-index: 9;
    }
    #nav #img_burger{
        display: inline;
        width: 40px;
        position: absolute;
        top: 25px;
        left: 125px;
    }
    #nav a{
        display: none;
    }
    #nav button{
        margin-left: 75px;
    }
}
@media screen and (max-width:600px){
    #nav #search input{
        width: 15em;
    }
}
@media screen and (max-width:500px){
    #nav #logo{
        display: none;
    }
    #nav #img_burger{
        left: 25px;
    }
    #nav #search button{
        margin-left: 60px;
        margin-top: 20px;
    }
    #nav #search input{
        width: 50%;
    }
    #nav #buyke{
        height: 50px;
        top: 20px;
    }
}
@media screen and (max-width:400px){
    #nav #search input{
        width: 40%;
    }
}