#foot{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    background-color: dimgray;
    color: rgba(245,245,245,1);
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}
#foot ul{
    display: inline-block;
    margin-right: 7%;
    list-style: none;
}
#foot ul li{
    margin-left: 10px;
    padding-left: 15px;
    border-left: 2px solid darkgray;
    padding-top: 5px;
    padding-top: 5px;
}
#foot ul li a{
    color: rgba(245,245,245,1);
    text-decoration: none;
}
#foot #soc{
    position: absolute;
    width: 20%;
    right: 30px;
    bottom: 20px;
}
#foot #soc img{
    width: 60px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 15px;
    border-radius: 50%;
}
@media screen and (max-width:1450px){
    #foot ul{
        margin-right: 5%;
    }
}
@media screen and (max-width:1300px){
    #foot ul{
        margin-right: 25px;
    }
}
@media screen and (max-width:1250px){
    #foot #soc{
        right: 10px;
    }
    #foot #soc img{
        width: 50px;
    }
}
@media screen and (max-width:1075px){
    #foot #soc{
        display: none;
    }
}
@media screen and (max-width:870px){
    #foot ul{
        margin-right: 5px;
    }
}
@media screen and (max-width:805px){
    #foot{
        padding: 0;
        height: 200px;
    }
    #foot ul{
        display: block;
    }
    #foot ul li{
        display: none;
    }
}